*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0 10vw;
    background-color: white;
}

a{
    text-decoration: none;
}

h1{
    text-transform: uppercase;
    grid-row: 2;
}

section{
    background-color: white;
}

/*___________Section 1___________*/

#section1{
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: 40vh 5vh 1fr 23vh 5fr 1fr;
    background-color: royalblue;
}

#cv{
    grid-row: 5;
}

#section1 a{
    text-transform: uppercase;
}

#arrow{
    grid-row: 6;
}

/*___________Section 1___________*/

#section2{
    display: grid;
    grid-template-rows: 30vh 1fr;
    background-color: royalblue;

    height: 75vh;
    text-align: left;
    background-color: rgb(127, 153, 230);
    font-size: 2vw;
}

#section2 h2, h3{
    grid-row: 2;
    display: inline-block;
}