*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    --mbs: 15vh;
    --bc: #dfe6e9;
}

html{
    scroll-behavior: smooth;
}


/* accessibility matter */
*:focus{
    outline: none;
}

*:focus-visible{
    border: 2px dotted red;
}
/*######################*/

body{
    padding: 0 10vw;
    background-color: var(--bc);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* responsive behavior */
@media (min-width:600px){
    body{
        padding: 0 10vw;
    }
}
/*#####################*/

a{
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-size: max(2vh, 2vw);
    
}

h1{
    font-size: max(5vw, 5vh);
    font-weight: 900;
    text-transform: uppercase;
    background-color: var(--bc);
    letter-spacing: -0.09em;

    margin-bottom: 10px;
    height: max(5vw, 5vh);
    width: 100%;

    grid-row: 2;
    position: sticky;
    top: 0.01px;
}

h2{
    font-size: max(4vw, 4vh);
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--bc);
    letter-spacing: -0.09em;

    margin-bottom: 10px;
    height: max(5vw, 5vh);
    width: 100%;

    position: sticky;
    top: 0.01px;
}

p{
    font-size: max(2.3vh, 2.3vw);
    font-weight: 400;
}

section{
    background-color: var(--bc);
    height: 100vh;

}

/*___________Section 1___________*/

#section1{
    min-height: 500px;
    text-align: center;

    display: grid;
    grid-template-rows: 40vh 5vh 1fr 23vh 5fr 1fr;
}

#section1 p{
    font-size: max(2vh, 2vw);
    text-transform: uppercase;
}

#cv{
    grid-row: 5;
}

/*___________Section 2___________*/

#section2{
    min-height: 300px;

    margin-bottom: var(--mbs);

    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

#section2 div{
    grid-row: 2;
}

/* Responsive behavior */
@media (max-width: 500px){
    #section2 p{
    margin-bottom: 10px;
    }
}
/*#####################*/

/* text highlight */
#big{
    font-size: max(5.5vh, 5.5vw);
}
#bold{
    font-weight: 700;
}
#light{
    font-weight: 275;
}
/*################*/


/*___________Section 3___________*/

#section3{
    min-height: 300px;
    
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    
    margin-bottom: var(--mbs);
}

#section3 div{
    grid-row: 2;
    display: flex;
    flex-direction: column;
}

#section3 h2, #section3 p{
    text-align: right;
}

#section3 .suff{
    font-weight: 600;

    margin-bottom: 3vh;
}

#after-space{
    margin-bottom: 10vh !important;
}

/*___________Section 4___________*/

#section4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    min-height: 300px;
    
    margin-bottom: var(--mbs);
}

article{
    text-align: center;

    margin-bottom: 5vh;
}

article img{
    border: solid black 1px;
}

article a{
    display: flex;
    flex-direction: column;
}

#crossed{
    text-decoration: none;
}

@media (min-width:600px){
    #section4{
        height: auto;
        min-height: 300px;

        margin-bottom: var(--mbs);
    }
    article{
        text-align: left;

        width: 100%;
        
        margin-bottom: 5vh;
    }
    h3{
        font-size: max(2.3vw, 2.3vh);
        font-weight: 500;

        margin-bottom: 6px;
    }

    article img{
        float: left;

        margin-right: 3vh;
    }
    #section4 a{
        font-size: max(1.5vh, 1.5vw);
        font-weight: 400;

        width: fit-content;
        
        margin-bottom: 4px;

    }
}

#section5{

    text-align: right;

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-bottom: 10vh;
}

#section5 h2{
    background-color: transparent;
}

#section5 p{
    margin-bottom: 20px;
}
#section5 a{
    margin-right: 10px;
}